* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}
.header {
  width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.header__section {
  display: flex;
  align-items: center;
}
.header__wrapper {
  display: flex;
  padding-top: 30px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  padding-left: 658px;
}
.nav__text {
  margin-top: 6px;
  margin-left: 30px;
}
.nav__link {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  /* identical to box height, or 125% */
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
.header__wrapper__2 {
  margin-top: 35px;
  display: block;
}
.wrapper__2__texts {
  width: 420px;
  position: relative;
  top: -290px;
  left: 80px;
}
.wrapper__2__name {
  font-family: "Fraunces", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */
  color: #fefcf7;
}
.wrapper__2__text {
  margin-top: 10px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #fefcf7;
}
.main {
  width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.main__section {
  display: flex;
}
.main__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper__img {
  margin: 0px 70px 0px;
  border-radius: 8px;
}
.wrapper__texts {
  width: 508px;
}
.wrapper__name {
  font-family: "Fraunces", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */
  color: #333d4b;
}
.wrapper__text {
  padding-top: 15px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #333d4b;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.main-section-2 {
  margin: 50px 0 50px;
}
.main__wrapper__2 {
  background-color: #2c343e;
  border-radius: 10px;
  margin-top: 200px;
  padding: 1px 0 0px;
}
.main__wrapper__2__texts {
  width: 520px;
  margin: 70px 70px 0px;
}
.main__wrapper__2__name {
  font-family: "Fraunces", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */
  color: #fefcf7;
}
.main__wrapper__2__text {
  padding-top: 15px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.wrapper__2__img {
  border-radius: 8px;
  position: relative;
  top: -360px;
  left: 670px;
  margin-bottom: -300px;
}
.main__wrapper__3 {
  margin: 100px 60px 50px;
}
.wrapper__3__texts__2 {
  display: flex;
  align-items: center;
  margin: 10px 25px 50px;
}
.wrapper__3__name {
  font-family: "Fraunces", sans-serif;
  font-style: bold;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  color: #83888f;
}
.wrapper__3__container__2 {
  width: 1000px;
  display: flex;
  align-items: center;
}
.container__2__ul {
  width: 300px;
  margin: 0 25px 0;
  display: inline-block;
  list-style-type: none;
}
.ul__ul__texts {
  font-family: "Fraunces", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  /* identical to box height, or 112% */
  color: #333d4b;
  padding-top: 20px;
}
.ul__ul__texts > span {
  display: block;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #333d4b;
  padding-top: 10px;
}
.footer {
  width: 1240px;
  margin: 0 auto;
  padding: 60px 20px;
}
.footer__section {
  display: flex;
  background: #2c343e;
  margin-top: 20px;
  padding: 20px 10px 20px;
}
.footer__image {
  margin-left: 30px;
}
.footer__nav {
  display: flex;
  padding-left: 70px;
  list-style-type: none;
}
.footer__icons {
  padding-top: 5px;
  padding-left: 380px;
}
.fti__links {
  margin-left: 15px;
}
